html {
  box-sizing: border-box;
  line-height: 1.5rem;
  font-weight: normal;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

body {
  margin: 0;
}

main {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas:
    "col1 col2"
    "col3 col4";
  gap: 1rem;
}
